<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package 
      Name="MyApp"
      Manufacturer="MyCompany"
      UpgradeCode="CE718425-34CC-4153-BF5F-3C603EF41CF6"
      Version="0.9.0">
  
    <StandardDirectory 
        Id="ProgramFilesFolder">
      <Directory 
          Id="DojoFolder"
          Name="~Dojo Kata #1">
      </Directory>
    </StandardDirectory>

    <Feature 
        Id="ProductFeature"
        Title="MyApp"
        Level="1">
      <Component 
          Directory="DojoFolder"
          Id="ProductComponent">
        <File 
            Source="a.txt" />
      </Component>
    </Feature>
  </Package>
</Wix>
