<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="acme" Manufacturer="TODO Manufacturer" Version="0.0.0.9" UpgradeCode="db4bd8c4-7c09-46d7-8fb0-457d2ae2d0ca">
        
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="DojoFolder" Name="~Dojo - Kata #1" />
        </StandardDirectory>

        <Feature Id="Main">
            <Component Directory="DojoFolder">
                <File Source="a.txt" />
            </Component>
        </Feature>
	
    </Package>
</Wix>
